/* Header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar__logo i {
    color: var(--primary-color);
    font-size: 28px;
    margin-right: 3px;
}

.navbar__logo span {
    color: var(--dark-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar__nav {
    display: flex;
}

.navbar__nav a {
    color: var(--dark-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
}

.navbar__nav li:hover a {
    color: var(--secondary-color);
}

.navbar__nav a.active {
    color: var(--secondary-color);
}

/* Dropdown Nav */
.nav__item.dropdown {
    position: relative;
}

.dropdown .dropdown-toggle i {
    font-size: 20px;
}

.nav__item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.nav__item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav__item.dropdown .dropdown-menu a {
    color: var(--dark-color);
    padding: 5px 0;
    margin: 5px 5px;
    transition: all 0.3s ease;
}

.nav__item.dropdown .dropdown-menu a:hover {
    color: var(--secondary-color);
}

.navbar__main {
    display: flex;
    align-items: center;
}

.navbar__main a {
    margin: 0 25px 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .3s ease;
}

.btn-login {
    display: flex;
    align-items: center;
    color: var(--dark-color);
}

.btn-login:hover {
    color: var(--secondary-color);
}

.btn-login i {
    color: var(--secondary-color);
    font-size: 26px;
    margin-right: 7px;
}

.btn-signup {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 6px;
}

.btn-signup:hover {
    opacity: 0.8;
}

/* Menu Icon */
#menu-icon {
    display: none;
    font-size: 35px;
    color: var(--dark-color);
    z-index: 1000;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .navbar {
        padding: 0 10px;
        transition: .2s;
    }

    .navbar__nav a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar__nav {
        position: absolute;
        top: 105%;
        right: -100%;
        width: 270px;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .5s ease;
    }

    .navbar__nav a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .5s ease;
    }

    .navbar__nav li:hover a {
        color: var(--secondary-color);
        transform: translateY(5px);
    }

    .navbar__nav a.active {
        color: var(--secondary-color);
    }

    .navbar__nav.open {
        right: 2%;
    }

    .nav__item.dropdown .dropdown-menu {
        top: 0;
        left: -74%;
    }
}

@media (max-width: 768px) {
    .navbar__logo span {
        display: none;
    }

    .navbar__nav.open {
        width: 180px;
    }

    .nav__item.dropdown .dropdown-menu {
        width: 160px;
        top: 0;
        left: -89%;
    }
}

/* Intro */
.main-intro {
    position: relative;
    margin-top: 60px;
    height: calc(100vh - 60px);
    background: #3399ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* Animation */
.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small { width: 200px; height: 200px; left: -100px; bottom: -100px; }
.medium { width: 400px; height: 400px; left: -200px; bottom: -200px; }
.large { width: 600px; height: 600px; left: -300px; bottom: -300px; }
.xlarge { width: 800px; height: 800px; left: -400px; bottom: -400px; }
.xxlarge { width: 1000px; height: 1000px; left: -500px; bottom: -500px; }

.shade1 { opacity: 0.2; }
.shade2 { opacity: 0.5; }
.shade3 { opacity: 0.7; }
.shade4 { opacity: 0.8; }
.shade5 { opacity: 0.9; }

@keyframes ripple {
    0% { transform: scale(0.8); }
    50% { transform: scale(1.2); }
    100% { transform: scale(0.8); }
}

/* Intro Content */
.intro__content {
    text-align: center;
    position: relative;
    z-index: 10;
}

.intro__title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.intro__description {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn-more {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--white-color);
    color: var(--dark-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-more:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

@media (max-width: 1090px) {
    .small { width: 150px; height: 150px; left: -75px; bottom: -75px; }
    .medium { width: 300px; height: 300px; left: -150px; bottom: -150px; }
    .large { width: 450px; height: 450px; left: -225px; bottom: -225px; }
    .xlarge { width: 600px; height: 600px; left: -300px; bottom: -300px; }
    .xxlarge { width: 750px; height: 750px; left: -375px; bottom: -375px; }

    .intro__title { font-size: 3rem; margin-bottom: 0.5rem; }
    .intro__description { font-size: 1.2rem; margin-bottom: 1rem; }
    .btn-more { padding: 1rem 2rem; font-size: 1rem; }
}

@media (max-width: 768px) {
    .small { width: 100px; height: 100px; left: -50px; bottom: -50px; }
    .medium { width: 200px; height: 200px; left: -100px; bottom: -100px; }
    .large { width: 300px; height: 300px; left: -150px; bottom: -150px; }
    .xlarge { width: 400px; height: 400px; left: -200px; bottom: -200px; }
    .xxlarge { width: 500px; height: 500px; left: -250px; bottom: -250px; }

    .intro__content {padding: 0 10px; }
    .intro__title { font-size: 2.3rem; margin-bottom: 0.5rem; }
    .intro__description { font-size: 1.1rem; margin-bottom: 1rem; }
    .btn-more { padding: 1rem 1.5rem; font-size: 1rem; }
}

/* Features */
.row {
    display: flex;
    flex-wrap: wrap;
}

.row h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin: 15px 0;
    font-weight: 600;
    color: var(--dark-color);
}

.column {
    padding: 1em;
}

.card {
    height: 100%;
    padding: 2em 1.25em 1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, var(--secondary-color) 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, .15);
    border-radius: 0.5em;
    transition: .5s;
}

.card .feature__icon {
    font-size: 2.5em;
    width: 2em;
    height: 2em;
    margin: auto;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--white-color);
}

.feature__icon::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border: 0.12em solid var(--secondary-color);
    border-radius: 50%;
    transition: .5s;
}

.card .feature__title {
    font-size: 1.3em;
    margin: 1em 0 1.3em 0;
    font-weight: 600;
    letter-spacing: .3px;
    color: var(--dark-color);
}

.card .feature__description {
    line-height: 1.8em;
    color: #555;
}

.card:hover {
    background-position: 0;
}

.card:hover .feature__icon::before {
    width: 2.25em;
    height: 2.25em;
}

@media screen and (min-width: 768px) {
    .features {
        padding: 1em 7em;
    }
    .row h1 {
        font-size: 2.8em;
    }
}

@media screen and (min-width: 992px) {
    .features {
        padding: 1em;
    }
    .row h1 {
        font-size: 3.0em;
    }
    .card {
        padding: 3em 2em 1.5em 2em;
    }
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}

/* Gallery Section */
.gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__images img {
    width: 290px;
    height: 290px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.image-box {
    box-sizing: content-box;
    margin: 10px;
    width: 290px;
    height: 290px;
    border: 1px solid #bbb;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.customize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.customize i {
    font-size: 20px;
    margin-right: 5px;
}

.customize .btn-customize {
    color: var(--white-color);
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    width: 290px;
    height: 290px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.image-box:hover img {
    transform: scale(1.1);
}

.image-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-box:hover .customize {
    opacity: 1.0;
}

.image-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.image-box:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .gallery__images img {
        width: 230px;
        height: 230px;
    }
    .image-box {
        width: 230px;
        height: 230px;
    }
    .transparent-box {
        width: 230px;
        height: 230px;
    }
}

/* Call To Action */
.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--primary-color), #80b3ff);
    color: var(--white-color);
    text-align: center;
    margin-top: 1rem;
    padding: 4rem 2rem;
}
  
.call-to-action__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.call-to-action__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
  
.btn-action {
    padding: 15px 20px;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    transition: all .3s;
}

.btn-action:hover {
    color: var(--secondary-color);
    background-color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .call-to-action {
        padding: 2rem 1rem;
    }

    .call-to-action__title {
        font-size: 2rem;
    }

    .call-to-action__description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .btn-action {
        font-size: 16px;
    }
}

/* FOOTER */  
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer__content h2 {
    font-size: 1.8rem;
    margin: 0 0 30px 0px;
}
  
.footer__content p {
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.footer__content span {
    font-weight: bold;
}
  
.footer__content .social {
    display: flex;
    margin-bottom: 20px;
}

.footer__content .social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    margin-right: 10px;
    background-color: var(--white-color);
    color: var(--dark-color);
    transition: all 0.3s ease;
}
  
.footer__content .social a:hover {
    border: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
}
  
.footer__content .bx {
    font-size: 24px;
    margin: 0 10px;
}
  
.footer__content li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer__content li:last-child {
    margin-right: 0;
}
  
.footer__content a {
    color: var(--dark-color);
}
  
.footer__content .footer__link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
  
.footer__content .footer__box:first-child {
    width: calc(60% - 30px);
}

.footer__content .place,
.footer__content .phone,
.footer__content .email {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__content .place .bx,
.footer__content .phone .bx,
.footer__content .email .bx {
    margin-right: 10px;
}

.footer__content .place .text,
.footer__content .phone .text,
.footer__content .email .text {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-color);
}

@media screen and (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10px;
    }

    .footer__content .footer__box:first-child {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__content .social {
        justify-content: center;
        gap: 20px;
    }

    .footer__content .social a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer__content ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__content li:last-child {
        margin-bottom: 0;
    }

    .footer__content .place,
    .footer__content .phone,
    .footer__content .email {
        margin-bottom: 15px;
    }
}